{% extends 'base.html' %}
{% load static %}

{% block title %} To-Do List {% endblock %}

{% block content %}
  {% if all_items %}
  <table class='table table-bordered'>
    {% for things in all_items %}
      {% if things.completed %}
          <tr class='table-secondary'>
            <td class='striker'>{{ things.item }} </td>
            <td><center>{{ things.completed }}</center></td>
            <td><center>Delete</center></td>
          </tr>
      {% else %}
          <tr>
            <td>{{ things.item }} </td>
            <td><center>{{ things.completed }}</center></td>
            <td><center>Delete</center></td>
          </tr>
      {% endif %}

    {% endfor %}
  </table>

  {% endif %}




{% endblock %}
